*
{
    box-sizing: border-box;
}
#dashboard
{
    /* border:2px solid royalblue; */
    transform-origin: 0px 0px 0px;
    transform: scale(1,1);
}
#container
{
    border:1px solid crimson;
}
#pivot
{

}

html, document, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#viewport
{
    height: 90%;
    width: 90%;
    margin: auto;
}

.cp
{
    border: 1px dashed lightgrey;
    padding: 4px;
    display: flex;
    flex-wrap: wrap;
    z-index: 200;
}

.cp .button
{
    border: 1px solid crimson;
    border-radius: 3px;
    color: ivory;
    background-color: lightcoral;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
    transition: 0.2s;
}

    .cp .button:hover
    {
        background-color: rgb(240, 182, 182);
        color: whitesmoke;
        border-color: rgb(221, 67, 98);
    }
.cp .row
{
    width: 100%;
    display: flex;
    margin-top: 4px;
}

.cp .info
{
    color: grey;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 2px;
    margin-right: 2px;
}